@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

@font-face {
    font-family: 'Scripto-2OR2v';
    src: url('../assets/Scripto-2OR2v.ttf') format('woff');
}

body {
    background-color: #061826;
}

.checkboxtodolist {}

#checkboxtodolist:checked {}

header {
    text-align: center;
    background-color: #033f63;
}

header h1 {
    font-family: 'Scripto-2OR2v';
    font-size: 5em;
    padding-top: 8px;
    margin: 2% 0%;
    color: #061826;
}

main {
    background-color: #89aae6;
    margin: 0 2%;
    border-radius: 20px;
    height: 100%;
    font-family: 'PT Mono', monospace;
    display: flex;
    padding: 1%;
}

#toDoList {
    line-height: 1.5em;
}

.trashIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    padding: 2px;
}

#div_table h2 {
    font-size: 1.5em;
    font-weight: 600;
    padding: 1% 0 3% 0;
    text-align: center;
}

#div_table {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2%;
}

#side_div {
    display: flex;
    flex-direction: row;
    width: 40%;
    line-height: 1.5em;
    max-height: 40%;
}

#salva {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #ac80a0;
    color: white;
    font-size: 1.2em;
    border: 0;
}


#sideDesk {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    resize: none;
    padding: 2%;
    line-height: 1.5em;
}

#div_table {}